[alias]
    co = checkout
    br = branch
    cm = commit -m
    st = status
    sw = switch

[includeIf "gitdir:~/work/"]
    path = .work.gitconfig
[includeIf "gitdir:~/"]
    path = .gitconfig.d/.research.gitconfig
[init]
	defaultBranch = main
