[alias]
    co = checkout
    br = branch
    cm = commit -m
    st = status
    sw = switch

[includeIf "gitdir:~/work/"]
    path = .work.gitconfig
[includeIf "gitdir:~/research/"]
    path = .gitconfig.d/.research.gitconfig

[init]
	defaultBranch = main

[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
