- name: Install neovim dependencies
  ansible.builtin.package:
    name:
      - ninja-build
      - gettext
      - build-essential

- name: Check if Neovim is installed
  ansible.builtin.command: nvim --version
  register: neovim_installed
  ignore_errors: true

- name: Clone neovim repo
  ansible.builtin.git:
    repo: https://github.com/neovim/neovim
    dest: "{{ ansible_env.HOME }}/oss/neovim"
    clone: true
    version: v0.11.4
    depth: 1
  when: neovim_installed.rc != 0

- name: Build neovim release
  community.general.make:
    chdir: "{{ ansible_env.HOME }}/oss/neovim"
    params:
      CMAKE_BUILD_TYPE: Release
  when: neovim_installed.rc != 0

- name: Install neovim
  become: true
  community.general.make:
    chdir: "{{ ansible_env.HOME }}/oss/neovim"
    target: install
  when: neovim_installed.rc != 0

- name: Change ownership of neovim repo
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/oss/"
    owner: "{{ current_user }}"
    group: "{{ current_group }}"
    state: directory
    recurse: true
  when: neovim_installed.rc != 0

- name: Install pynvim
  ansible.builtin.pip:
    name: pynvim
    state: latest
    extra_args: "--break-system-packages"

- name: Install node neovim
  community.general.npm:
    name: neovim
    global: true
    state: latest
